body{
	/*background-color:#000;*/
	color:white;
	font-family: Cambria, Georgia , serif;
}

a:link { color: #64c9ff; text-decoration: none; }

a:visited { color: #00517e; text-decoration: none; }

a:hover { color: #ca4700; text-decoration: underline; }

a:active { color: #ca4700; text-decoration: underline; }

section{
	background-color:#000;
}

#run_head{
	text-align: center;
	color:black;
}

#run_head h1{
	font-family:"MillerHeadlineBold", Georgia, serif;
	font-weight: 900;
	font-size: 4em;
}

#run_instruct{
	font-size:.6em;
	line-height: 1.6em;
}

.run_sub{
	text-align: center;
	font-weight: 100;
	font-size: 1.3em;
	line-height:1.4;
	width:45%;
	margin:0 auto;
	color:white;
}

.run_slide{
	position:relative;
	width:100%;
	
}

.run_splash{
	background: rgba(0,0,0,0.6);
	width:100%;
	height:100%;
}

.run_caption{
	position:absolute;
	top: 0; 
	left: 0; 
	width: 40%;
	font-family: Arial, sans-serif;
	color:white;
	padding:2em;
}

.run_captionRight{
	position:absolute;
	top: 0; 
	right: 0; 
	width: 40%;
	font-family: Arial, sans-serif;
	color:white;
	padding:2em;
}

.run_day{
	font-size:.8em;
	margin-bottom: 1em;
	letter-spacing: .08em;
}

.run_time{ color:red; }

.run_result{ color:#bbb; }

.run_text{ font-size:.8em; }

.run_points{ padding-top:.2em; }

.run_bold{
	font-weight:700;
	padding-bottom:.2em;
}

.run_credits{
	width:100%;
	text-align: center;
	font-family: Arial, sans-serif;
	letter-spacing: .1em;
	font-weight: 600;
	margin-top: 20%
}

.run_trg{
	width:100%;
	margin:0 auto;
	font-family: "RGWeb", serif;
	font-size: 3em;
	font-weight:100;
}

.run_copy{
	letter-spacing: .75em;
	margin:3em 0 0 0;
	font-weight:100;
}

/*FONTS*/

@font-face {
	font-family: "BentonSansCond Regular";
	src: url("http://fonts.registerguard.com/benton/sanscondbold.eot");
	src: url("http://fonts.registerguard.com/benton/sanscondbold.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/benton/sanscondbold.woff") format("woff"),
		url("http://fonts.registerguard.com/benton/sanscondbold.ttf") format("truetype"),
		url("http://fonts.registerguard.com/benton/sanscondbold.svg#web") format("svg");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "MillerHeadline Bold";
	src: url("http://fonts.registerguard.com/miller/headlinebold.eot");
	src: url("http://fonts.registerguard.com/miller/headlinebold.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/miller/headlinebold.woff") format("woff"),
		url("http://fonts.registerguard.com/miller/headlinebold.ttf") format("truetype"),
		url("http://fonts.registerguard.com/miller/headlinebold.svg#web") format("svg");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "MillerHeadline Light";
	src: url("http://fonts.registerguard.com/miller/headlinelight.eot");
	src: url("http://fonts.registerguard.com/miller/headlinelight.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/miller/headlinelight.woff") format("woff"),
		url("http://fonts.registerguard.com/miller/headlinelight.ttf") format("truetype"),
		url("http://fonts.registerguard.com/miller/headlinelight.svg#web") format("svg");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family:"RGWeb";
	src:url("http://fonts.registerguard.com/rg/rgweb.eot");
	src:url("http://fonts.registerguard.com/rg/rgweb.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/rg/rgweb.woff") format("woff"),
		url("http://fonts.registerguard.com/rg/rgweb.ttf") format("truetype"),
		url("http://fonts.registerguard.com/rg/rgweb.svg#RGWeb") format("svg");
	font-weight:normal;font-style:normal;
}