body{
	background-color:#000;
	color:white;
	font-family: Cambria, Georgia , serif;
}

a:link { color: #64c9ff; text-decoration: none; }

a:visited { color: #00517e; text-decoration: none; }

a:hover { color: #ca4700; text-decoration: underline; }

a:active { color: #ca4700; text-decoration: underline; }

section{
	background-color:#000;
}

#headline{
	text-align: center;
	color:white;
	opacity:1;
}

#headline h1{
	font-family:"MillerHeadlineBold", Georgia, serif;
	font-weight: 900;
	font-size: 4em;
}

#headline .subhead{
	font-weight: 100;
	font-size: 1.3em;
	line-height:1.4;
	width:70%;
	margin:0 auto;
	opacity:.8;
}

@media (min-width: 980px) {
	
}

/*FONTS*/

@font-face {
	font-family: "BentonSansCond Regular";
	src: url("http://fonts.registerguard.com/benton/sanscondbold.eot");
	src: url("http://fonts.registerguard.com/benton/sanscondbold.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/benton/sanscondbold.woff") format("woff"),
		url("http://fonts.registerguard.com/benton/sanscondbold.ttf") format("truetype"),
		url("http://fonts.registerguard.com/benton/sanscondbold.svg#web") format("svg");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "MillerHeadline Bold";
	src: url("http://fonts.registerguard.com/miller/headlinebold.eot");
	src: url("http://fonts.registerguard.com/miller/headlinebold.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/miller/headlinebold.woff") format("woff"),
		url("http://fonts.registerguard.com/miller/headlinebold.ttf") format("truetype"),
		url("http://fonts.registerguard.com/miller/headlinebold.svg#web") format("svg");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "MillerHeadline Light";
	src: url("http://fonts.registerguard.com/miller/headlinelight.eot");
	src: url("http://fonts.registerguard.com/miller/headlinelight.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/miller/headlinelight.woff") format("woff"),
		url("http://fonts.registerguard.com/miller/headlinelight.ttf") format("truetype"),
		url("http://fonts.registerguard.com/miller/headlinelight.svg#web") format("svg");
	font-style: normal;
	font-weight: normal;
}

/* start of .mm */

.mm {
	height: 0;
	padding-bottom: 56.25%; /*16:9 = (9 / 16 = .5625) x 100*/
	position: relative;
	overflow: hidden;
	/*margin: {
		top: #{rex_relative($base_margin)}rem;
		bottom: #{rex_relative($base_margin)}rem;
	}*/
}

.mm .embed {
	border: 0;
	width: 100% !important;
	height: 100% !important;
	max-width: none;
	position: absolute;
	top: 0;
	left: 0;
}

.theatre { padding-bottom: 59.171597633136%; } /*1.69:1 = (1 / 1.69 = .59171597633136) x 100*/

.slide { padding-bottom: 66.666666666667%; } /*3:2 = (2 / 3 = .66666666666667) x 100*/

.tv { padding-bottom: 75%; } /*4:3 = (3 / 4 = .75) x 100*/

/* end of .mm */