		@font-face {
			font-family: "RGWeb";
			src: url("http://fonts.registerguard.com/rg/rgweb.eot");
			src: url("http://fonts.registerguard.com/rg/rgweb.eot?#iefix") format("embedded-opentype"),
				url("http://fonts.registerguard.com/rg/rgweb.woff") format("woff"),
				url("http://fonts.registerguard.com/rg/rgweb.ttf") format("truetype"),
				url("http://fonts.registerguard.com/rg/rgweb.svg#RGWeb") format("svg");
			font-weight: normal;
			font-style: normal;
		}
		
		.z_animated {
			-webkit-animation-duration: 0.5s;
			   -moz-animation-duration: 0.5s;
			     -o-animation-duration: 0.5s;
			        animation-duration: 0.5s;
			-webkit-animation-fill-mode: both;
			   -moz-animation-fill-mode: both;
			     -o-animation-fill-mode: both;
			        animation-fill-mode: both;
		}
		@-webkit-keyframes z_slide-down {
			0% { -webkit-transform: translateY(-100%); }
			100% { -webkit-transform: translateY(0); }
		}
		@-moz-keyframes z_slide-down {
			0% { -moz-transform: translateY(-100%); }
			100% { -moz-transform: translateY(0); }
		}
		@-o-keyframes z_slide-down {
			0% { -o-transform: translateY(-100%); }
			100% { -o-transform: translateY(0); }
		}
		@keyframes z_slide-down {
			0% { transform: translateY(-100%); }
			100% { transform: translateY(0); }
		}
		.z_animated.z_slide-down {
			-webkit-animation-name: z_slide-down;
			-moz-animation-name: z_slide-down;
			-o-animation-name: z_slide-down;
			animation-name: z_slide-down;
		}
		@-webkit-keyframes z_slide-up {
			0% { -webkit-transform: translateY(0); }
			100% { -webkit-transform: translateY(-100%); }
		}
		@-moz-keyframes z_slide-up {
			0% { -moz-transform: translateY(0); }
			100% { -moz-transform: translateY(-100%); }
		}
		@-o-keyframes z_slide-up {
			0% { -o-transform: translateY(0); }
			100% { -o-transform: translateY(-100%); }
		}
		@keyframes z_slide-up {
			0% { transform: translateY(0); }
			100% { transform: translateY(-100%); }
		}
		.z_animated.z_slide-up {
			-webkit-animation-name: z_slide-up;
			-moz-animation-name: z_slide-up;
			-o-animation-name: z_slide-up;
			animation-name: z_slide-up;
		}
		
		#zeppelin *,
		#zeppelin *::before,
		#zeppelin *::after {
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		}
		
		#zeppelin {
			background: rgba(255, 255, 255, .9);
			padding: 10px;
			border-bottom: 1px solid #eee;
			position: fixed;
			z-index: 10;
			right: 0;
			left: 0;
			top: 0;
		}
		@media print { #zeppelin { display: none; } }
		
		#zeppelin h1 {
			font: 40px "RGWeb", Cambria, Georgia, serif;
			font-weight: normal;
			font-style: normal;
			line-height: 1;
			margin: 0;
			white-space: nowrap;
			position: absolute;
			top: 10;
			left: 10;
		}
		#zeppelin h1 a,
		#zeppelin h1 a:visited,
		#zeppelin h1 a:visited:hover,
		#zeppelin h1 a:focus,
		#zeppelin h1 a:focus:hover,
		#zeppelin h1 a:hover,
		#zeppelin h1 a:active {
			color: #000;
			text-decoration: none;
		}
		#zeppelin h1 a:active,
		#zeppelin h1 a:focus { outline: 0; }
		
		#zeppelin ul { *zoom: 1; } #zeppelin ul:before, #zeppelin ul:after { content: " "; display: table; } #zeppelin ul:after { clear: both; }
		#zeppelin ul,
		#zeppelin li {
			margin: 0;
			padding: 0;
		}
		#zeppelin li {
			float: right;
			display: inline;
		}
		#zeppelin li a {
			display: block;
			padding: 10px;
		}
		#zeppelin li a,
		#zeppelin li a:visited {
			color: #000;
			text-decoration: none;
		}
		#zeppelin li a:visited:hover,
		#zeppelin li a:focus,
		#zeppelin li a:focus:hover,
		#zeppelin li a:hover,
		#zeppelin li a:active { text-decoration: underline; }